#domoMessage{
  display: none;
}

.form-control{
  width: auto;
  margin: auto;
  margin-left: 5px;
  display: inline;
}

@media (max-width: 767px) {
  .form-control{
    width: 100%;
  }
}

.row{
  margin-top: 15px;
  margin-bottom: 15px;
}

#errorAlert{
  display: none;
}

#errorHere{
  text-align: center;
}